<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="AueDatabase"
			 connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=auebd.mdb;"
			 providerName="System.Data.OleDb" />
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.OleDb" type="System.Data.Entity.Core.OleDb.OleDbProviderServices, EntityFramework" />
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<add name="OLE DB Data Provider" invariant="System.Data.OleDb" description="OLE DB Data Provider" type="System.Data.OleDb.OleDbFactory, System.Data" />
		</DbProviderFactories>
	</system.data>
</configuration>